$cards-color: transparent;
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;500;700&display=swap");
@import "./search.scss";
@import "./currentWeather.scss";
@import "./hourlyForecast.scss";
@import "./dailyForecast.scss";
@import "./sunPosition.scss";
@import "./footer.scss";
body {
  font-family: "Hind Siliguri", sans-serif;
  background-image: linear-gradient(
    to bottom,
    #051937,
    #002d4b,
    #00425a,
    #005763,
    #006b67
  );
  position: relative;
  margin: 0;
  // -30px because of the search margin which gives addition 30px to the height of body
  min-height: calc(100vh - 30px);
}

.temperature {
  position: relative;
  &::after {
    position: absolute;
    content: "°";
  }
}

h2 {
  text-align: center;
  font-size: 1.3rem;
  color: white;
}

@media (min-width: 900px) {
  $cards-width: 320px;
  .weather {
    display: grid;
    grid-template-areas: "current daily " "hourly position ";
    align-content: center;
    justify-content: space-evenly;
    max-width: 1300px;
    margin: auto;
  }

  .current-weather {
    grid-area: current;
    width: $cards-width;
    border: none;
    justify-content: center;
    padding: 0;
  }

  .daily-forecast {
    grid-area: daily;
    width: $cards-width;
    border: none;
    padding: 0;
  }

  .sun-position {
    grid-area: position;
    width: $cards-width;
    padding: 0;
  }

  .hourly-forecast {
    grid-area: hourly;
    width: 300px;
    border: none;
    padding: 0;
    .scroll {
      display: block;
      position: absolute;
      height: 60px;
      color: white;
      background-color: rgba($color: #000000, $alpha: 0.2);
      border: none;
      top: calc(50% + 40px);
      transform: translateY(-50%);
    }

    .scroll-left {
      left: -18px;
    }

    .scroll-right {
      right: -18px;
    }
  }
}

.loading {
  animation: loading 1000ms linear 0s infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  i {
    color: #b5f8ff;
    font-size: 3rem;
  }
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
