@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;500;700&display=swap");
body {
  font-family: 'Hind Siliguri', sans-serif;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
}

.temperature {
  position: relative;
}

.temperature::after {
  position: absolute;
  content: "°";
}

h2 {
  text-align: center;
  font-size: 1.3rem;
  color: white;
}

.search {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 25px;
  width: 90%;
  max-width: 800px;
  margin: 30px auto;
}

.search .search-box {
  padding: 10px;
  border-radius: 50px;
}

.search .search-box i {
  color: white;
  font-size: 1.4em;
  margin: 0 10px;
}

.search .search-box input {
  width: 80%;
  border: none;
  font-size: 1.4em;
  outline: none;
  color: #1f1f1f;
  font-weight: 300;
  background-color: transparent;
  color: white;
}

.search .separator {
  height: 2px;
  width: 90%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.548);
}

.search .autocomplete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 30px;
  margin: 10px 0;
  border-radius: 25px;
  cursor: pointer;
}

.search .autocomplete .name {
  color: white;
  font-size: 1.3rem;
}

.search .autocomplete .info {
  color: #cfcfcf;
}

.search .autocomplete:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.current-weather {
  text-align: center;
  width: 90%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 0;
  border-radius: 30px;
  color: white;
}

.current-weather p {
  padding: 0;
  margin: 0;
}

.current-weather img {
  width: 100px;
}

.current-weather h1 {
  font-size: 1.9rem;
  margin-bottom: 10px;
}

.current-weather h1 i {
  margin-right: 10px;
}

.current-weather .current-temp {
  font-size: 4rem;
  line-height: 50px;
}

.current-weather .daily-temp .temperature {
  padding: 5px;
}

.current-weather .condition {
  font-size: 2rem;
  margin: 10px 0 25px 0;
}

.hourly-forecast {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  margin: 20px auto;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
}

.hourly-forecast .display-forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.hourly-forecast .display-forecast::-webkit-scrollbar {
  display: none;
}

.hourly-forecast .display-forecast .forecast p {
  margin: 0;
}

.hourly-forecast .scroll {
  position: absolute;
  height: 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  top: calc(50% + 40px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hourly-forecast .scroll-left {
  left: 0;
}

.hourly-forecast .scroll-right {
  right: 0;
}

.daily-forecast {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  margin: auto;
  color: white;
  padding: 20px 0;
}

.daily-forecast .days {
  width: 90%;
  margin: auto;
}

.daily-forecast .days .forecast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.daily-forecast .days .day-temperature span {
  padding: 10px;
}

.daily-forecast .days .forecast + .forecast {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.sun-position {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: auto;
  border-radius: 30px;
}

.sun-position .info .container {
  height: 150px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  margin: auto;
  border-bottom: 1px solid white;
}

.sun-position .info .arches {
  width: 200px;
  height: 200px;
  position: absolute;
  border: 3px solid white;
  border-radius: 50%;
  padding: 0px;
  top: calc(50% - 28px);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: -webkit-transform 1500ms ease;
  transition: -webkit-transform 1500ms ease;
  transition: transform 1500ms ease;
  transition: transform 1500ms ease, -webkit-transform 1500ms ease;
}

.sun-position .info .sun {
  position: absolute;
  color: #ffbb00;
  font-size: 25px;
  top: 20px;
  right: 14px;
}

.sun-position .info .time {
  width: 250px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
/*# sourceMappingURL=index.css.map */